* {
    padding: 0;
    margin: 2px 2px;
}
body {
    background-color: lavender;
}
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, 1fr);
    gap: 2px;
    /* min-height: 1; */
}
.rt {
     background-color: rgb(0, 0, 0);
    grid-column: 1 / -1;
    margin: 5px;
    text-align: center;
    color: rgb(255, 0, 0);
    min-width: 100%;
}
.encode {
    grid-column: 1 / -1;
    /* background-color:aquamarine; */
    width: 100%;
}
.encode1 {
    display: flex;
    flex-direction: row;
    border-radius: 135px 125px;
    gap: 5px;
    grid-column: 1 / 2;
    grid-row: 2 / 7;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.encode2 {
    padding-left:5px;
    grid-column: 2 / -1;
    grid-row: 2 / 7;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 100px ;
    word-break: break-all;
}
.encode2 label {
    font-weight: bold;
    font-size: inherit;
}
.decode {
    /* grid-row: 7 / 8; */
    grid-column: 1 / -1;
    /* background-color:aquamarine; */
    width: 100%;
}
.decode1 {
    display: flex;
    flex-direction: column;
    border-radius: 125px 135px;
    gap: 5px;
    /* grid-column: 1 / 2; */
    grid-row: 8 / 14;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 207, 207);
}
.decode2 {
    padding-left:5px;
    grid-column: 2 / -1;
    grid-row: 8 / 14;
    background-color: rgb(255, 207, 207);
    border-radius: 20px 100px;
}
.decode2 label {
    font-weight: bold;
    font-size: inherit;
}
#EnOutput {
    display: flex;
    justify-content: center;
    align-items: center;
}
#DeOutput {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button.button1 {
    background-color: rgb(75, 168, 75);
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
}
.button.button2 {
    background-color: rgb(208, 128, 196);
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
}
.button.button1:hover {
    background-color: rgb(107, 240, 80);
}
.button.button2:hover {
    background-color: rgb(253, 32, 238);
}
.button:active {
    background-color: #3E8E41;
    transform: translateY(4px);
}
@media screen and (max-width: 480px) {
    .main {
        min-width: 280px;
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    .encode {
        height: 40px;
    }
    .encode1 {
        height: 165px;
    }
    .encode2 {
        height: 165px;
    }
    .decode {
        height: 40px;
    }
    .decode1 {
        height: 165px;
    }
    .decode2 {
        height: 165px;
    }
}


